body {
  transition: background-color 0.3s ease-in-out;
  background-color: blue;
}

@media (min-width: 550px) {
  body {
    background-color: yellow;
  }
}

@media (min-width: 1100px) {
  body {
    background-color: pink;
  }
}

@media (min-width: 1500px) {
  body {
    background-color: green;
  }
}

@media (min-width: 2000px) {
  body {
    background-color: orange;
  }
}
